* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 0.875rem arial, sans-serif;
  color: #222;
  background: #fff;
  display: block;
}

header {
  min-height: 64px;
  padding-top: 20px;
}

header #search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#search-section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-section-left a img {
  display: block;
  width: 92px;
  margin: 0 30px;
}

#search-section-left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  width: 638px;
  padding: 2px;
}

#search-section-left form input {
  margin: 0 0 0 20px;
  vertical-align: middle;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: none;
  font-size: 1rem;
}

#search-section-left form input:focus {
  outline: none;
}

#search-section-left form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
}

#search-section-left form div i,
#search-section-left form div img {
  cursor: pointer;
  margin: 0 8px;
}

#search-section-left form div i {
  font-size: 18px;
}

#search-section-left form:hover {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

#search-section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
}

#search-section-right img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}

#search-section-right i {
  font-size: 1.1rem;
  color: #555;
  cursor: pointer;
}

#menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 782px;
  height: 58px;
  margin: 0;
}

#menu-section-left {
  margin-left: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu-section-left .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 12px 12px 10px;
  margin: 11px 1px 0px 1px;
  cursor: pointer;
  color: #5f6368;
  font-size: 13px;
}

#menu-section-left .menu-item i {
  display: block;
  margin-right: 5px;
}

#menu-section-left .menu-item:hover {
  color: #1a73e8;
}

#menu-section-left .selected {
  border-bottom: 3px solid #1a73e8;
  color: #1a73e8;
}

#menu-section-right a {
  display: inline-block;
  padding: 16px 12px 12px 10px;
  margin: 11px 1px 0px 1px;
  color: #5f6368;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 3px solid transparent;
}

#menu-section-right a:first-child:hover {
  color: #1a73e8;
}

#menu-section-right a:nth-child(2):hover {
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  margin-left: -1px;
  padding: 4px 11px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.separator {
  display: block;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}

#results-num-display {
  min-width: 100%;
  min-height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#results-num-display p {
  margin-left: 150px;
  color: #888;
  font-size: 14px;
}

main#search-results-wrapper {
  width: 632px;
  margin-left: 150px;
}

main#search-results-wrapper .result {
  display: block;
  width: 100%;
  margin-bottom: 27px;
}

main#search-results-wrapper .result .result-title {
  display: block;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #1a0dab;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

main#search-results-wrapper .result .result-title:hover {
  text-decoration: underline;
}

main#search-results-wrapper .result .result-link {
  display: block;
  padding-top: 1px;
  color: #006621;
  text-decoration: none;
  font-size: 1rem;
  line-height: 24px;
}

main#search-results-wrapper .result .link-icon {
  display: inline-block;
}

main#search-results-wrapper .result .result-summary {
  line-height: 1.57;
  color: #545454;
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

main#search-results-wrapper .result .result-summary .result-summary-date {
  color: #777;
}

.suggestion-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0px -20px 0px -20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.suggestion-card .suggestion-title {
  padding: 9px 16px;
  color: #222;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.suggestion-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 9px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #222;
}

.suggestion-card div .suggestion-text {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.57;
}

.suggestion-card div i {
  display: block;
  color: #6f6f6f;
}

.suggestion-card-footer {
  display: block;
  margin: 0px -20px 27px -20px;
  padding: 4px 16px 0px 16px;
}

.suggestion-card-footer a {
  text-align: right;
  display: block;
  color: #777777;
  text-decoration: none;
  font-size: 12px;
}

.suggestion-card-footer a:hover {
  text-decoration: underline;
}

#related-searches-wrapper {
  margin-top: 40px;
  margin-bottom: 28px;
}

#related-searches-wrapper .title {
  display: block;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  color: #222;
}

#related-searches-wrapper ul {
  list-style: none;
}

#related-searches-wrapper ul li a {
  display: block;
  padding: 3px 0px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #1a0dab;
  line-height: 20px;
}

#related-searches-wrapper ul li a:hover {
  text-decoration: underline;
}

footer {
  display: block;
  min-width: 1100px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
}

footer .footer-links {
  display: block;
  margin-left: 150px;
}

footer .footer-links a {
  display: inline-block;
  padding-left: 27px;
  color: #5f6368;
  text-decoration: none;
  font-size: small;
}

footer .footer-links a:hover {
  color: #333;
}

footer .footer-links a:first-child {
  padding-left: 0;
}
/*# sourceMappingURL=main.css.map */